    <link rel="stylesheet" href="/stylesheets/aboutus.css">

   

    <!-- About Us Titles-->

    <div class="aboutustitles">
        <div class="row">
            <div class="col-md-4">
                <div class="aboutustitlesm">
                    <h5>About Us</h5>
                    <p>We are a team of communication professionals striving to improve our living environment with
                        smart, sustainable design, that elevates our everyday experience, speaking to the needs of our
                        clients and users alike. Design that is here to stay.</p>
                </div>

            </div>
        </div>
    </div>

    <!-- Our Methodology -->

    <div class="methodology">
        <h1>Our Methodology</h1>

        <!-- One Two Three -->
        <div class="lines">
            <div class="line1">
                <div class="line2">
                    <div class="line3">
                        <hr>
                        <div class="one numbers">
                            <p>1</p>
                        </div>
                        <div class="two numbers">
                            <p>2</p>
                        </div>
                        <div class="three numbers">
                            <p>3</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="method1">
            <div class="row">

                <div class="col-md-12 col-lg-4">
                    <div class="method11">
                        <h2>Goals and challenges</h2>
                        <h3>Müşterilerinizin hedeflerini ve karşılaştıkları zorlukları belirleyerek, müşterileriniz için
                            en uygun çözümleri sunmaya odaklanan bir stratejik planlama yöntemi olan Goals and
                            Challenges metodolojisini aşağıdaki</h3>
                        <h3 class="method11d">adımları takip ederek uyguluyoruz:</h3>
                        <h3>1. Müşterilerinizle bir araya gelerek işletmeleri hakkında detaylı bilgi topluyoruz.</h3>
                        <h3>2. Müşterilerinizin hedeflerini ve mevcut zorluklarını belirliyoruz.</h3>
                        <h3>3. Rakiplerini, sektör trendlerini ve hedef kitlelerini araştırarak müşterilerinizin
                            işletmeleri için en uygun çözümleri belirliyoruz</h3>
                        <h3 class="method11d">4. Belirlediğiniz çözümleri, müşterilerinize sunun ve onların geri
                            bildirimlerini alarak
                            gerekli düzenlemeleri yapıyoruz.</h3>
                        <h3>Bu metodoloji, müşterileriniz için özelleştirilmiş bir çözüm sunmanıza ve müşteri
                            memnuniyetini artırmanıza yardımcı olabilir.</h3>
                    </div>
                </div>


                <div class="col-md-12 col-lg-4">
                    <div class="method11">
                        <h2>Immediate environment</h2>
                        <h3 class="method11d">Markanızın doğrudan etkileşimde bulunduğu çevreyi ve bu çevrenin
                            işletmenin performansını nasıl etkilediğini analiz etmeye odaklanan bir stratejik planlama
                            yaklaşımıdır. Bu metodolojiyi uygulamak için aşağıdaki adımları takip edebilirsiniz:</h3>
                        <h3>1. İşletmenizin bulunduğu bölgenin sosyo-ekonomik durumunu ve işletmenizin doğrudan
                            etkileşimde</h3>
                        <h3>bulunduğu diğer işletmeleri belirleyin.</h3>
                        <h3>2. Müşterilerinizin davranışlarını ve ihtiyaçlarını anlamak için pazar araştırması yapın.
                            İşletmenizdeki çalışanların, tedarikçilerin ve diğer iş ortaklarının işletmeniz üzerindeki
                            etkilerini belirleyin.</h3>
                        <h3 class="method11d">3. Rekabet ortamını ve rakiplerinizi analiz edin.</h3>
                        <h3>Bu metodoloji, işletmenizin doğrudan etkileşimde bulunduğu çevreyi anlayarak işletmenizin
                        </h3>
                    </div>
                </div>

                <div class="col-md-12 col-lg-4">
                    <div class="method11">
                        <h2>Socio-cultural context</h2>
                        <h3 class="method11d">İşletmenizin faaliyet gösterdiği toplumun kültürel, sosyal ve demografik
                            özelliklerini anlamak ve bu faktörlerin işletmeye nasıl etki ettiğini analiz etmek için
                            kullanılan bir stratejik planlama yaklaşımıdır. Bu metodolojiyi uygulamak için aşağıdaki
                            adımları takip edebilirsiniz:</h3>
                        <h3>1. İşletmenizin hizmet verdiği bölgenin kültürel ve demografik özelliklerini belirleyin.
                        </h3>
                        <h3>2. Toplumun genel davranış ve alışkanlıklarını anlamak için pazar araştırması yapın.</h3>
                        <h3>3. Toplumun sosyal ve kültürel normlarını, inançlarını ve değerlerini analiz edin.</h3>
                        <h3>4. Toplumun siyasi, ekonomik ve teknolojik ortamını değerlendirin.</h3>
                        <h3 class="method11d">5. İşletmenizin bu sosyo-kültürel faktörlere nasıl uyum sağlayabileceğini
                            belirleyin.</h3>
                        <h3>Bu metodoloji, işletmenizin faaliyet gösterdiği toplumun kültürel ve sosyal özelliklerini
                            anlayarak, müşterilerinizin ihtiyaçlarını daha iyi anlamaya yardımcı olabilir. Ayrıca,
                            işletmenizin bu faktörlere nasıl uyum sağlayabileceğini belirleyerek, müşteri memnuniyetini
                            artırmaya ve işletmenizin performansını iyileştirmeye yardımcı olabilir.</h3>
                    </div>
                </div>

            </div>
        </div>

        <div class="services">
            <h2>Services We Provide</h2>
            <div class="row">
                <div class="col-md-4">
                    <div class="servielist">
                        <h5>Brand Strategy</h5>
                        <p><a href="#">Brand positioning</a></p>
                        <p><a href="#">Brand Naming</a></p>
                        <p><a href="#">Brand Values / Mission / Vision</a></p>
                        <p><a href="#">Brand Strategy</a></p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="servielist">
                        <h5>Brand Design</h5>
                        <p><a href="#">Corporate Identity</a></p>
                        <p><a href="#">Packaging and Industrial Design</a></p>
                        <p><a href="#">Web Design, UX/UI</a></p>
                        <p><a href="#">Web development</a></p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="servielist">
                        <h5>Brand Communication</h5>
                        <p><a href="#">Communication Strategy</a></p>
                        <p><a href="#">Copywriting</a></p>
                        <p><a href="#">Content production</a></p>
                        <p><a href="#">Editorial design</a></p>
                    </div>
                </div>
            </div>
        </div>


    </div>

    <!-- Imagination Picture -->
    <div class="imagination">
        <img src="/images/aboutus.png">
    </div>


    <!-- Clients -->

    <div class="clients">
        <div class="clientsmain">
            <h2>Clients</h2>

            <div class="row clientrow">
                <div class="col-md-4 col-6 col-xl-2 clientcol">
                    <div class="client">
                        <img src="/images/client1.png">
                    </div>
                </div>
                <div class="col-md-4 col-6 col-xl-2">
                    <div class="client">
                        <img src="/images/client2.png">
                    </div>
                </div>
                <div class="col-md-4 col-6 col-xl-2">
                    <div class="client">
                        <img src="/images/client3.png">
                    </div>
                </div>
                <div class="col-md-4 col-6 col-xl-2">
                    <div class="client">
                        <img src="/images/client4.png">
                    </div>
                </div>
                <div class="col-md-4 col-6 col-xl-2">
                    <div class="client">
                        <img src="/images/client5.png">
                    </div>
                </div>
                <div class="col-md-4 col-6 col-xl-2">
                    <div class="client">
                        <img src="/images/client6.png">
                    </div>
                </div>
                <div class="col-md-4 col-6 col-xl-2">
                    <div class="client">
                        <img src="/images/client7.png">
                    </div>
                </div>
                <div class="col-md-4 col-6 col-xl-2">
                    <div class="client">
                        <img src="/images/client8.png">
                    </div>
                </div>
                <div class="col-md-4 col-6 col-xl-2">
                    <div class="client">
                        <img src="/images/client9.png">
                    </div>
                </div>
                <div class="col-md-4 col-6 col-xl-2">
                    <div class="client">
                        <img src="/images/client10.png">
                    </div>
                </div>
                <div class="col-md-4 col-6 col-xl-2">
                    <div class="client">
                        <img src="/images/client11.png">
                    </div>
                </div>
                <div class="col-md-4 col-6 col-xl-2">
                    <div class="client">
                        <img src="/images/client12.png">
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Office -->

    <div class="office">
        <div class="officemain">
            <h2>Office</h2>

            <div class="row officerow">
                <div class="col-md-6">
                    <div class="officeimg">
                        <img src="/images/aboutuspic1.png">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="officeimg officeimg2">
                        <img src="/images/aboutuspic2.png" class="aboutuspic2">
                        <img src="/images/aboutuspic3.png" class="aboutuspic3">
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- Footer -->

    <div class="footer footer2">
        <div class="footermain">
            <div class="footeritems">
                <p>Barbaros Bulvarı,</p>
                <p>Akdoğan Sk. No:1, 34353</p>
                <p>Beşiktaş / İstanbul</p>
            </div>
            <div class="footeritems">
                <p><a href="tel:+90 (212) 236 91 42">+90 (212) 236 91 42</a></p>
                <p><a href="tel:+90 (212) 236 91 43">+90 (212) 236 91 43</a></p>
                <p><a href="mailto:hello@cdi.com.tr">hello@cdi.com.tr</a></p>
            </div>
            <div class="footeritems footeritems2">
                <p><a href="#">Instagram</a></p>
                <p><a href="#">Spotify</a></p>
                <p><a href="#">Linkedin</a></p>
                <p><a href="#">Behance</a></p>
                <p><a href="#">Vimeo</a></p>
            </div>
            <div class="footeritems">
                <p><a href="#">Imprint</a></p>
                <p><a href="#">Privacy Policy</a></p>
            </div>
            <div class="footeritems">
                <p><a href="#">Language</a></p>
                <p><a href="#">English</a></p>
                <p><a href="#">Deutsch</a></p>
                <p><a href="#">Turkish</a></p>
            </div>
        </div>
    </div>