* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Manrope', sans-serif;
    background: #f1f2f2;
}

/* Navbar */

.header {
    padding: 65px;
}

.navitems {
    margin-left: auto;
}

.nav-link {
    font-size: 13px;
    font-weight: 400;
}



/* Footer */

.footer {
    padding: 88px 350px 88px 65px;
    background: #f1f2f2;
}

.footermain {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footeritems p {
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: 400;
}

.footeritems p a {
    text-decoration: none;
    color: black;
}

.footeritems2 {
    display: flex;
    align-items: center;
}

.footeritems2 p {
    padding: 0 5px;
}

.footeritems button {
    color: white;
    background: #f04922;
    padding: 12px 40px;
    border: none;
    font-size: 12px;
    font-weight: 400;
}

.footer2 {
    background: unset;
}

/* Contact Map */

.contactmap {
    padding: 0 65px;
    padding-bottom: 65px;
}


/* Work With Us */

.workwithus {
    padding: 15px 65px;
    background-color: #f04922;
}

.workwithus p {
    color: white;
    margin: 0;
    font-size: 14px;
    font-weight: 400;
}




/* Responsive */


@media (max-width:1700px) {

    /* Navbar */

    /* Footer */

    /* Contact Map */

    /* Work With Us */

}


@media (max-width:1500px) {

    /* Navbar */

    /* Footer */

    .footer {
        padding: 88px 200px 88px 200px;
    }

    /* Contact Map */

    /* Work With Us */

}


@media (max-width:1400px) {

    /* Navbar */

    /* Footer */

    /* Contact Map */

    /* Work With Us */

}


@media (max-width:1300px) {

    /* Navbar */

    /* Footer */

    /* Contact Map */

    /* Work With Us */

}


@media (max-width:991px) {

    /* Navbar */

    .header {
        padding: 30px;
    }

    .nav-link {
        font-size: 13px;
        text-align: center;
    }

    /* Footer */

    .footer {
        padding: 60px;
    }

    /* Contact Map */

    .contactmap {
        padding: 0px 30px;
        padding-bottom: 40px;
    }

    /* Work With Us */

    .workwithus {
        padding: 10px 30px;
    }

}


@media (max-width:768px) {

    /* Navbar */

    /* Footer */

    .footer {
        padding: 20px;
    }

    /* Contact Map */

    /* Work With Us */

}


@media (max-width:576px) {

    /* Navbar */

    .header {
        padding: 10px;
    }

    /* Footer */

    .footermain {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .footeritems {
        width: 40%;
    }

    .footeritems2 {
        display: flex;
        align-items: center;
        margin-top: 25px;
        width: 100% !important;
        margin-bottom: 25px;
        justify-content: center;
    }

    /* Contact Map */

    .contactmap {
        padding: 0px 15px;
        padding-bottom: 20px;
    }

    /* Work With Us */

    .workwithus {
        padding: 10px 15px;
    }

}